@model PagedList.IPagedList<BugTrackingSystem.Service.Models.ProjectViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Projects";
}
<script>
    $(document).ready(function (e) {
        $('.selectpicker').selectpicker();
    });
</script>

<div class="col-lg-12 general-container">

    <div id="header" class="row">
        <div id="headerTitle" class="col-sm-6 col-xs-12">
            Projects
            <i class="fa fa-plus round" aria-hidden="true" data-toggle="modal" data-target="#addProjectModal"></i>
        </div>

        <div class="pull-right col-sm-6 col-xs-12" id="Local-search">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon" style="background-color: #F8FEFE">
                        <a href="#">
                            <i class="glyphicon glyphicon-search" style="font-size: 18px;"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="row Sort_Title_Pagination">
        <div class="dropdown" style="display: inline-block">
            <span class="sticker-properties" style="padding-right: 10px; ">Sort by:</span>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Title <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Title</a></li>
                <li><a href="#">Key</a></li>
            </ul>
        </div>
        <div class=" pull-right" style="display: inline-block">
            <nav class="local-pagination">
                <ul class="pagination pagination-sm">
                    <li><a href="#">1</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        @foreach (var project in Model)
        {
           
                <div class="col-lg-4 col-md-4" id="@project.ProjectId" onmouseover="showCloseIcon(this)">
                    <i class="fa fa-times-circle" style="display: none;" aria-hidden="true" onclick="hideFilter(this)"></i>
                    <a class="redirectAncore" href="@Url.Action("Project", "Project", new { projectId = project.ProjectId})">
                        <div class="custom-sticker">
                            <h4><b>@project.Name</b></h4>
                            <div class="row">
                                <span class="col-lg-12">
                                    <span class="sticker-properties"> @project.Prefix </span>
                                </span>
                                <div class="projectInfo pull-right">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true">@project.BugsCount</i>
                                    <i class="fa fa-users" aria-hidden="true">@project.UsersCount</i>
                                </div>
                            </div>
                        </div>
                    </a>
</div>
            
        }
    </div>
    <div class="row Sort_Title_Pagination">
        <i class="fa fa-th-list col-lg-2" aria-hidden="true" style="font-size: 18px; padding: 0; margin: 0"> Projects: @ViewBag.AllProjects</i>
        <div class=" pull-right" style="display: inline-block">
            <nav class="local-pagination">
                <ul class="pagination pagination-sm">
                    <li><a href="#">@Html.PagedListPager(Model, page => Url.Action("Projects", "Project", new { page }))</a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>

<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="TaskModalDialog" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0 "></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Create new project</h3>
            </div>
            <div class="modal-body col-lg-12">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="titleInput" placeholder="Title" style="margin: 0; display: inline-block">
                    </div>
                    <div class="form-group col-xs-4 padding0">
                        <input type="email" class="form-control" id="searchInput" placeholder="Search" style="margin: 0; display: inline-block">
                    </div>
                    <div class="col-xs-6" style="color: lightgrey; padding-top: 7px;">
                        Three letters for deescription of project
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn modalCreateButton">Create</button>
            </div>
        </div>
    </div>
</div>

<script>
    function hideFilter(el) {
        $(el).parent().hide();
    }
</script>

<script>
    function showCloseIcon(divId) {
        $(divId).children(".fa").show();

        $(divId).on("mouseleave", function () {
            $(divId).children(".fa").hide();
        });
    }
</script>
