@{
    ViewBag.Title = "Filters";
}


<div class="col-lg-12 general-container">
    <div id="header" class="row">
        <div id="headerTitle" class="col-lg-2">
            Filters
            <i class="fa fa-plus round" aria-hidden="true" data-toggle="modal" data-target="#addFilterModal"></i>
        </div>

        <div class="pull-right" id="Local-search">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon" style="background-color: #F8FEFE">
                        <a href="#">
                            <i class="glyphicon glyphicon-search" style="font-size: 18px;"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="row Sort_Title_Pagination">
        <div class="dropdown" style="display: inline-block">
            <span class="sticker-properties" style="padding-right: 10px; ">Sort by:</span>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Title <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Project</a></li>
                <li><a href="#">Assignee</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Priority</a></li>
            </ul>
        </div>
        <div class=" pull-right" style="display: inline-block">
            <nav class="local-pagination">
                <ul class="pagination pagination-sm">
                    <li><a href="#">1</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-lg-4 col-md-4 block" id="@i" onmouseover="showCloseIcon(this)">
                <i class="fa fa-times-circle" aria-hidden="true" style="display: none;" onclick="hideFilter(this)"></i>
                <div class="custom-sticker">
                    <h4><b>Title</b></h4>
                    <div class="row">
                        <span class="col-lg-12">
                            <span class="sticker-properties">Search:</span>Search<br />
                        </span>
                        <span class="col-lg-6">
                            <span class="sticker-properties"> Status: </span>Status
                        </span>
                        <span class="col-lg-6">
                            <span class="sticker-properties"> Project: </span>Project
                        </span>
                        <span class="col-lg-6">
                            <span class="sticker-properties"> Priority: </span>BugPriority
                        </span>
                        <span class="col-lg-6">
                            <span class="sticker-properties"> Assignee: </span>AssignedUser
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row Sort_Title_Pagination">
        <i class="fa fa-filter col-lg-2" aria-hidden="true" style="font-size: 18px; margin: 0; padding: 0;"> Filters: Count</i>
        <div class=" pull-right">
            <nav class="local-pagination pull-right">
                <ul class="pagination pagination-sm">
                    <li><a href="#">1</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade" id="addFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" id="TaskModalDialog" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0 "></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Create new filter</h3>
            </div>
            <div class="modal-body col-lg-12">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="titleInput" placeholder="Title" style="margin: 0; display: inline-block">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="searchInput" placeholder="Search" style="margin: 0; display: inline-block">
                    </div>
                </form>
                <div class="col-lg-6" style="padding: 0 5px 15px 0;">
                    <select class="form-control" style="color: gray;">
                        @for (int i = 0; i < 3; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6" style="padding: 0 0 15px 5px;">
                    <select class="form-control">
                        @for (int i = 0; i < 3; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6" style="padding: 0 5px 15px 0;">
                    <select class="form-control">
                        @for (int i = 0; i < 3; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>
                <div class="col-lg-6" style="padding: 0 0 15px 5px;">
                    <select class="form-control">
                        @for (int i = 0; i < 3; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modalCreateButton">Create</button>
            </div>
        </div>
    </div>
</div>



<script>
    function hideFilter(el) {
        $(el).parent().hide();
    }
</script>

<script>
    function showCloseIcon(divId) {
        $(divId).children(".fa").show();

        $(divId).on("mouseleave", function() {
            $(divId).children(".fa").hide();
        });
    }
</script>
