<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BugTrackingSystem</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-lg-12" style="padding: 0 50px 0 50px; height:auto;">
        @Html.ActionLink("Filters", "Filters", "Filters")
        <br />
        @Html.ActionLink("Login", "Login", "Home")
        <br />
        @Html.ActionLink("Forgot Password", "ForgotPassword", "Home")
        <br />
        @Html.ActionLink("Reset Password", "ResetPassword", "Home")
        <br />
        @Html.ActionLink("Profile", "Index", "Profile")
        <br />
        @Html.ActionLink("Project", "Project", "Project")
        <br />
        @Html.ActionLink("Projects", "Projects", "Projects")
        <br />
        @Html.ActionLink("Search", "Search", "Search")
        <br />
        @Html.ActionLink("Users", "Users", "Users")
        <br />
        @Html.ActionLink("Task", "Task", "Task")
        <br />
        @Html.ActionLink("Dashboard", "Dashboard", "Home")
    </div>

</body>
</html>